.THIS .chart-container {text-align:center; width: 100%;min-height: 400px;margin-bottom: 40px;}
.THIS .logo {width: 600px;}
.THIS .inner-row:nth-child(even) {background-color: #f5f6f7;}
.THIS .inner-row {border-radius: 4px; padding: 10px 0px 5px 0px; margin: 0px;}
.THIS .header {margin: 30px 0px;}
.THIS .header-row {display: inline-block; width: 100%;color:#fff;text-transform: uppercase; background-color: #4d9e18; padding: 10px 0px 5px 0px; margin: 0px;    border-radius: 4px;}